<div class="summary-container">
  <div class="clsHeading">{{ 'SUMMARY' | translate }}</div>

  <form>
    <div class="clsEdit">
      <label><strong>{{ 'PERSONAL_INFORMATION' | translate }}</strong></label><button  (click)="openEditModal(editDialog); $event.preventDefault();">
        <span class="material-icons">edit</span></button>
    </div>
    
    <div class="clsWrap">
      <label for="firstName"><strong>{{ 'FIRST_NAME' | translate }}:</strong></label>
      <input type="text" id="firstName" name="firstName" [value]="personalInfo.firstName" readonly />
    </div>

    <div class="clsWrap">
      <label for="lastName"><strong>{{ 'LAST_NAME' | translate }}:</strong></label>
      <input type="text" id="lastName" name="lastName" [value]="personalInfo.lastName" readonly />
    </div>

    <div class="clsWrap">
      <label for="email"><strong>{{ 'EMAIL' | translate }}:</strong></label>
      <input type="email" id="email" name="email" [value]="personalInfo.email" readonly />
    </div>

    <div class="clsWrap">
      <label for="birthDate"><strong>{{ 'BIRTH_DATE' | translate }}:</strong></label>
      <input type="text" id="birthDate" name="birthDate" [value]="personalInfo.birthDate" readonly />
    </div>

    <div class="clsWrap">
      <label for="language"><strong>{{ 'LANGUAGE' | translate }}:</strong></label>
      <input type="text" id="language" name="language" [value]="personalInfo.language" readonly />
    </div>
    <div class="clsEdit">
      <label><strong>{{ 'POLICY_INFORMATION' | translate }}</strong></label><button  (click)="openEditModal(editDialog); $event.preventDefault();">
        <span class="material-icons">edit</span></button>
    </div>
    <div class="clsWrap">
      <label for="policyStartDate"><strong>{{ 'PSD' | translate }}:</strong></label>
      <input type="text" id="policyStartDate" name="policyStartDate" [value]="policyInfo.policyStartDate" readonly />
    </div>

    <div class="clsWrap">
      <label for="insuranceProduct"><strong>{{ 'INSURANCE_PRODUCT' | translate }}:</strong></label>
      <input type="text" id="insuranceProduct" name="insuranceProduct" [value]="policyInfo.insuranceProduct" readonly />
    </div>

    <div class="clsWrap">
      
    <button mat-button color="accent" class="clsPrev" (click)="previous()">{{ 'PREVIOUS' | translate }}</button>
    <button mat-button color="warn"  class="clsNxt" (click)="next()">{{ 'NEXT' | translate }}</button>
    </div>
  </form>

  <!-- Modal Template -->
  <ng-template #editDialog>
    <div class="modal">
      <h2>{{ 'EDIT_INFORMATION' | translate }}</h2>
  
      <form [formGroup]="editForm" class="clsModal">
        <!-- First Name Field -->
        <div class="clsWrap">
          <label>{{ 'FIRST_NAME' | translate }}</label>
          <input type="text" formControlName="firstName">
          <!-- Error message for first name -->
          <div *ngIf="editForm.get('firstName')?.invalid && editForm.get('firstName')?.touched" class="error">
            <span *ngIf="editForm.get('firstName')?.hasError('required')">{{ 'ERRORS.FIRST_NAME_REQUIRED' | translate }}</span>
          </div>
        </div>
  
        <!-- Last Name Field -->
        <div class="clsWrap">
          <label>{{ 'LAST_NAME' | translate }}</label>
          <input type="text" formControlName="lastName">
          <!-- Error message for last name -->
          <div *ngIf="editForm.get('lastName')?.invalid && editForm.get('lastName')?.touched" class="error">
            <span *ngIf="editForm.get('lastName')?.hasError('required')">{{ 'ERRORS.LAST_NAME_REQUIRED' | translate }}</span>
          </div>
        </div>
  
        <!-- Email Field -->
        <div class="clsWrap">
          <label>{{ 'EMAIL' | translate }}</label>
          <input type="email" formControlName="email">
          <!-- Error message for email -->
          <div *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched" class="error">
            <span *ngIf="editForm.get('email')?.hasError('required')">{{ 'ERRORS.EMAIL_REQUIRED' | translate }}</span>
            <span *ngIf="editForm.get('email')?.hasError('email')">{{ 'ERRORS.EMAIL_INVALID' | translate }}</span>
          </div>
        </div>
  
        <!-- Birth Date Field -->
        <div class="clsWrap">
        <label>{{ 'BIRTH_DATE' | translate }}</label>
        <input type="date" formControlName="birthDate">
        <div *ngIf="editForm.get('birthDate')?.invalid && editForm.get('birthDate')?.touched" class="error">
          <span *ngIf="editForm.get('birthDate')?.hasError('required')">{{ 'ERRORS.BIRTH_DATE_REQUIRED' | translate }}</span>
          <span *ngIf="editForm.get('birthDate')?.hasError('minAge')">{{ 'ERRORS.BIRTH_DATE_MIN_AGE' | translate }}</span> <!-- Error for age below 18 -->
        </div>
      </div>
  
        <!-- Language Field -->
        <div class="clsWrap">
          <label>{{ 'LANGUAGE' | translate }}</label>
          <select formControlName="language">
            <option value="English">English</option>
            <option value="Dutch">Dutch</option>
          </select>
          <!-- Error message for language -->
          <div *ngIf="editForm.get('language')?.invalid && editForm.get('language')?.touched" class="error">
            <span *ngIf="editForm.get('language')?.hasError('required')">{{ 'ERRORS.LANGUAGE_REQUIRED' | translate }}</span>
          </div>
        </div>
  
        <!-- Policy Start Date Field -->
        <div class="clsWrap">
          <label>{{ 'PSD' | translate }}</label>
          <input type="date" formControlName="policyStartDate">
          <!-- Error message for policy start date -->
          <div *ngIf="editForm.get('policyStartDate')?.invalid && editForm.get('policyStartDate')?.touched" class="error">
            <span *ngIf="editForm.get('policyStartDate')?.hasError('required')">{{ 'ERRORS.POLICY_START_REQUIRED' | translate }}</span>
            <span *ngIf="editForm.get('policyStartDate')?.hasError('futureDate')">{{ 'ERRORS.POLICY_START_FUTURE' | translate }}</span>
            <span *ngIf="editForm.get('policyStartDate')?.hasError('firstOfMonth')">{{ 'ERRORS.POLICY_START_FIRST' | translate }}</span>
            <span *ngIf="editForm.get('policyStartDate')?.hasError('maxDate')">{{ 'ERRORS.POLICY_START_MAX' | translate }}</span>
          </div>
        </div>
  
        <!-- Insurance Product Field -->
        <div class="clsWrap">
          <label>{{ 'INSURANCE_PRODUCT' | translate }}</label>
          <select formControlName="insuranceProduct">
            <option *ngFor="let product of insuranceProducts" [value]="product">{{ product }}</option>
          </select>
          <!-- Error message for insurance product -->
          <div *ngIf="editForm.get('insuranceProduct')?.invalid && editForm.get('insuranceProduct')?.touched" class="error">
            <span *ngIf="editForm.get('insuranceProduct')?.hasError('required')">{{ 'ERRORS.INSURANCE_PRODUCT_REQUIRED' | translate }}</span>
          </div>
        </div>
  
        <!-- Save and Cancel Buttons -->
        <div class="clsWrap">
          <button mat-button color="primary" class="clsPrev" (click)="saveChanges()" [disabled]="editForm.invalid">{{ 'SAVE' | translate }}</button>
          <button mat-button color="warn" class="clsNxt" (click)="dialog.closeAll()">{{ 'CANCEL' | translate }}</button>
        </div>
      </form>
    </div>
  </ng-template>
  
</div>
