.modal {
    background: white;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal h2 {
    margin-bottom: 15px;
  }
  
  .modal label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .modal input,
  .modal select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal button {
    margin-top: 10px;
    margin-right: 5px;
  }
  /* Responsive Design */
@media (max-width: 600px) {
    .modal {
      width: 100%;
    }
   .clsModal label, .clsModal input, .clsModal select {
      flex: 100%;
    }
}