<h2 mat-dialog-title>Edit Personal Information</h2>
<mat-dialog-content>
  <form [formGroup]="editForm" >
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birth Date</mat-label>
      <input matInput formControlName="birthDate" type="date">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select formControlName="language">
        <mat-option value="English">English</mat-option>
        <mat-option value="Dutch">Dutch</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeModal()">Cancel</button>
  <button mat-button color="primary" [disabled]="editForm.invalid"  (ngSubmit)="saveChanges($event)">Save</button>
</mat-dialog-actions>
