<div class="clsHeading">{{ 'POLICY_INFORMATION' | translate }}</div>
<div class="clsPolicyQuestions">
  
<form [formGroup]="policyQuestionsForm" (ngSubmit)="next()">
  <!-- Policy Start Date -->
  <div class="clsWrap">
    <label for="policyStartDate">{{ 'PSD' | translate }}</label>
    <input type="date" id="policyStartDate" formControlName="policyStartDate" />    
    <div *ngIf="policyQuestionsForm.get('policyStartDate')?.invalid && policyQuestionsForm.get('policyStartDate')?.touched" class="error">  
      <span *ngIf="policyQuestionsForm.get('policyStartDate')?.hasError('required')">{{ 'ERRORS.POLICY_START_REQUIRED' | translate }}</span>    
      <span *ngIf="policyQuestionsForm.get('policyStartDate')?.hasError('futureDate')">{{ 'ERRORS.POLICY_START_FUTURE' | translate }}</span>    
      <span *ngIf="policyQuestionsForm.get('policyStartDate')?.hasError('firstOfMonth')">{{ 'ERRORS.POLICY_START_FIRST' | translate }}</span>    
      <span *ngIf="policyQuestionsForm.get('policyStartDate')?.hasError('maxDate')">{{ 'ERRORS.POLICY_START_MAX' | translate }}</span>    
    </div>
</div>
  <!-- Insurance Product Dropdown -->
  <div class="clsWrap">
    <label for="insuranceProduct">{{ 'INSURANCE_PRODUCT' | translate }}</label>
    <select id="insuranceProduct" formControlName="insuranceProduct">
      <option *ngFor="let product of insuranceProducts" [value]="product">{{ product }}</option>
    </select>
    <div  class="error" *ngIf="policyQuestionsForm.get('insuranceProduct')?.invalid && policyQuestionsForm.get('insuranceProduct')?.touched">
      <span *ngIf="policyQuestionsForm.get('insuranceProduct')?.hasError('required')">{{ 'ERRORS.INSURANCE_PRODUCT_REQUIRED' | translate }}</span>
    </div>
</div>
<div class="clsWrap">
  <!-- Navigation Buttons -->
  <button type="button"  class="clsPrev" (click)="previous()">{{ 'PREVIOUS' | translate }}</button>  
  <button type="submit"  class="clsNxt" [disabled]="policyQuestionsForm.invalid">{{ 'NEXT' | translate }}</button>
</div>
</form>
</div>
