/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
}

/* Form Container */
form, .clsSubmission {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
}
.clsSubmission {
  text-align: center;
}
/* Headings */
h2, .clsHeading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding: 30px;
}

/* Flexbox for Form Fields */
.form-group {
  
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  
 
}
.clsWrap{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
  position: relative;
}
.clsWrap .error{
  position: absolute;
  bottom: -20px;
  right: 0;
}
label {
  font-weight: bold;
  flex: 30%;
  text-align: left; /* Align labels to the right */
}

input, select {
  flex: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select{
  flex: 73%;
}
/* Error Messages */
.error {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}

/* Buttons */
button {
  width: 100px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #1976d2;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.clsEdit {
  margin-bottom: 20px;
}
.clsEdit button{
  margin: 0;
  padding: 0;
  width: auto;
}
.clsEdit label{
  float: left;
  padding-right: 20px;
}
button:hover {
  background-color: #1565c0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.clsWrap .clsPrev{
  float: left;
}
.clsWrap .clsNxt{
  float: right;
}
/* Responsive Design */
@media (max-width: 600px) {
  form {
      padding: 20px;
  }

  h2 {
      font-size: 20px;
  }

  .form-group {
      flex-direction: column;
      align-items: flex-start;
  }

  label {
      width: 100%;
      text-align: left;
  }

  input, select {
      width: 100%;
  }

  button {
      width: 100%;
  }
}
